﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/Scripts/HexCalcs.js")
        @Scripts.Render("~/Scripts/HexagonTools.js")
        @Scripts.Render("~/Scripts/Grid.js")
    </head>
    <body>
        <header>
            <div class="content-wrapper">

                <div class="float-right">

                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Draw", "Hex", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Locations", "Index", "Locations")</li>
                            <li>@Html.ActionLink("Trucks", "Index", "Trucks")</li>
                            <li>@Html.ActionLink("Cargo", "Index", "Cargo")</li>
                            <li>@Html.ActionLink("Driver", "Index", "Drivers")</li>

                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>


        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
