﻿@model test1.Models.Drivers

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Drivers</legend>

        @Html.HiddenFor(model => model.driverID)

        <div class="editor-label">
            @Html.LabelFor(model => model.truckID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.truckID)
            @Html.ValidationMessageFor(model => model.truckID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.cargoID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.cargoID)
            @Html.ValidationMessageFor(model => model.cargoID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FirstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
