﻿@model test1.Models.Trucks

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Trucks</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CargoType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CargoType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.driverID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.driverID)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.truckID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
