﻿@model IEnumerable<test1.Models.Trucks>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CargoType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.driverID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CargoType )
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.driverID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.truckID }) |
            @Html.ActionLink("Details", "Details", new { id=item.truckID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.truckID })
        </td>
    </tr>
}

</table>
