﻿@model test1.Models.Locations

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Locations</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cargoID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cargoID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.address)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.address)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.locationID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
