﻿@model test1.Models.Cargo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Cargo</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.locationID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.locationID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cargoDescription)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cargoDescription)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cargoType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cargoType)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.cargID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
