﻿@{
    ViewBag.Title = "Will not work in IE";
}

<h2>Will Not Work in IE</h2>
<body onload="getHexGridWHSVGIN(100.0,86.60254037844388)">
<body>
<div id="svgContainer2" ><p>click on the white area</p></div>
</body>
</html>
